@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Pacifico');

:root{
    --color-pink: rgb(253, 124, 110,0.9);
    box-sizing: border-box;
}

body{
    background-color:  rgb(242, 236, 236);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
}

#title{
    margin-top: 100px !important;
    font-weight: 400;
    line-height: 1.4;
    text-align:center;
    font-family: 'Raleway', sans-serif;
    margin: 30px auto;
    font-size: 4em;
    color: rgb(117, 10, 10);
    font-family: Pacifico;
}

#survey-form{
    background-color: var(--color-pink);
    width:450px;
    margin-left: auto;
    margin-right: auto;    
    padding:40px 20px ;
    margin-top: 80px;    
    margin-bottom:80px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    border-radius: 0.60rem;
}

.cuestionario{
    margin: 0 40px;
    color: #FFF9F0;
    line-height:1.5;        
    text-align: center;
}

input, select {
    width: 250px;
    height: 20px;
    margin-bottom: 10px;
}

select {
    width: 250px;
    height: 27px;
    margin-bottom: 10px;
}

.cuestionario p{
    margin-bottom: 5px;
}

.set-personal{
    display: flex;
    margin-top: 10px;
    /* margin-right:auto;
    margin-left:auto; */
}

.formulario{
    margin: auto;
    border-radius:5px; 
    color:white;
    background-color:#035aa6;
    border: 1px solid black;
    height:30px;
    width:150px;
    font-size:15px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}
