<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola</h1>
    <h3>Datos es {{datos}}</h3>
    <h3>ID es {{id}}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero enim optio voluptate fuga magnam id deleniti, pariatur numquam porro esse sequi. Aut harum, assumenda doloremque minima quisquam reiciendis id earum tempora quia. Commodi soluta necessitatibus, expedita quasi voluptate provident tempora dolorum consectetur incidunt omnis, nobis asperiores, voluptatum vel in est corporis velit quos veniam! Quasi expedita debitis recusandae blanditiis sit, laborum, explicabo nulla quibusdam repellendus eaque perspiciatis quos quaerat sequi tempora aut provident nemo vitae! Ratione eligendi neque deserunt, molestias delectus doloremque, dicta a eaque consequatur sit, commodi consequuntur dolores et aliquid? Atque iure aliquid facere unde assumenda enim dolore!</p>
</body>
</html>